
.notification-body {
    min-width:100%;
    padding: 10px 5px;
    width: 100%;
}

.notification-details 
.label{
    font-weight: 600;
}

.notification-content,
.footer-content,
.notification-details,
.notification-button {
    font-size: 18px;
}

.footer-small {
    font-size: 16px;
}

.notification-content {
    padding-top: 10px; 
    line-height: 1.5em;
    max-width:100%; 
    min-width:100%;
    width: 100%;
}

.contact-info {
    color: #2baadf;
}

.notification-button {
    width:100%; 
    min-width:100%; 
    margin-top: 25px; 
    margin-bottom: 50px;
}

.footer-content {
    text-align: left;
    max-width:100%; 
    min-width:100%; 
    padding: 10px; 
    width: 100%;
}

.footer-small {
    max-width:100%; 
    min-width:100%; 
    padding-bottom: 30px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .notification-content {
        font-size: 16px;
    }

    .footer-content {
        font-size: 16px;
    }

    .notification-details {
        font-size: 16px;
    }

    .notification-button {
        font-size: 16px;
    }

    .footer-small {
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .notification-content {
        font-size: 16px;
    }

    .footer-content {
        font-size: 16px;
    }

    .notification-details {
        font-size: 16px;
    }

    .notification-button {
        font-size: 16px;
    }

    .footer-small {
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {
    .notification-content {
        font-size: 14px;
    }

    .footer-content {
        font-size: 14px;
    }

    .notification-details {
        font-size: 14px;
    }

    .notification-button {
        font-size: 14px;
    }

    .footer-small {
        font-size: 12px;
    }
}